[2015-09-28 17:59] Edholm opened #1 "Are you allowed to add issues?"
Se topic ^

[2015-09-28 18:01] Kerp1 opened #2 "More karaoke"
We need more karaoke in Hubben. Please <3

[2015-09-28 18:02] lindskogen commented on #2
Or at least new microphones!

[2015-09-28 18:02] Kerp1 opened #3 "Fix coffee machine"
The placement of the coffee machine is unbearable. It needs to be moved to a place where we can reach it without stretching. We also don't want to accidentally pour water into the power outlet.

[2015-09-28 18:05] Dr-Horv opened #5 "New chairs"
Many of the chairs are old and worn or simply uncomfortable.

[2015-09-28 18:06] Kerp1 opened #6 "New ladder"
The ladder right now is very dangerous and is not easy to use.

[2015-09-28 18:06] Edholm commented on #5
The same goes for the tables in the group room

[2015-09-28 18:08] Edholm commented on #6
I think a new ladder has been purchased? Maybe @Tejpbit can enlighten us?

[2015-09-28 18:08] lindskogen commented on #5
And the chairs in the group room

[2015-09-28 18:09] Kerp1 opened #7 "Fix the refridgerator 'ligga'"
It doesn't work, when you plug it in it sound awful.

[2015-09-28 18:09] Dr-Horv opened #8 "Suggestion: Change punishment for not abiding booking rules"
Many times Hubben is insufficiently cleaned after different events (mainly those of party-nature). Perhaps overlook the punishment scale to allow punishments to be dealt for not abiding those rules without banning someone from the Hub? Or even perhaps introduce temporary bans on people/associations?

[2015-09-28 18:10] lindskogen commented on #7
Still?

[2015-09-28 18:10] Dr-Horv commented on #7
Problem reoccured.

[2015-09-28 18:11] Edholm commented on #7
The problem is the bearings in the fan motor. Needs to be replaced or [greased up](https://www.youtube.com/watch?v=Z9_jIa2WADc)

[2015-09-28 18:12] lindskogen commented on #7
:cry:

[2015-09-28 18:22] Edholm commented on #8
I propose a CCTV. Then we can review the footage and deal out appropriate punishment.

[2015-09-28 18:39] abjugard commented on #7
Rest in RIP ligga :cry:

[2015-09-28 19:16] Tejpbit commented on #7
I've greased it up once more. But wouldn't get my hopes up... It didn't run as smooth as last time when @Edholm helped me. But atleast it doesn't squeel anymore. Issue closed for now...

[2015-09-28 19:16] #7 closed

[2015-09-28 19:17] Tejpbit commented on #6
Yepp working on it. Still looking for the right one though...

[2015-09-28 19:48] abjugard commented on #8
CCTV would be great, not sure we're allowed to install CCTV though, we would have to check with Akademiska Hus first I think.

[2015-09-29 11:43] Holmus opened #9 "Rules regarding when to make new coffee"
Due to the fact most people are stupid or atleast when it comes to coffee seem to ignore their moral values we need a clear rule-set to define when I as an IT student should make more coffee.

**NOTE** these rules especially apply to Guran, due to incidents occurring in previous exam weeks.

My suggestion for this rule-set would be as follows:

- One must always leave atleast 1 cup or brew new cof

[2015-09-29 11:57] Dr-Horv commented on #9
I agree with the rule. We should have an informative sign who explains this to less experienced coffee-drinkers.

[2015-09-29 11:59] Dr-Horv opened #10 "We need coffe-brewing instructions"
Like the awesome ones Kruse wrote for inexperienced brewers.

[2015-09-29 12:21] lindskogen commented on #10
:coffee: :coffee: :coffee: :coffee: :coffee: :coffee: :coffee: :coffee:

[2015-09-29 12:21] lindskogen commented on #9
:coffee: :coffee: :coffee:

[2015-09-29 12:45] Tejpbit commented on #1
Yes! That's one of the great purposes of this repository.

[2015-09-29 12:45] #1 closed

[2015-09-29 12:50] Tejpbit commented on #2
What's wrong with the microphones? Besides that one or two of them are dented?

[2015-09-29 12:51] Tejpbit commented on #3
That was the plan all along. We just need to get our thumb out of our asses and move it.

[2015-09-29 12:58] Edholm commented on #3
Tejps ass: ```    (_!_)```
Tejps thumb: :+1:

[2015-09-30 10:35] vidare opened #11 "Missing curtain"
The two half sized windows to the right of the emergency exit are missing a curtain. This tends to be problematic due to the projection screen beeing unevenly lit by background light form the street light outside. Also when blacking out the Hubben one has to tape garbage bags on those windows instead of using a simple curtain.

[2015-09-30 15:21] #9 closed

[2015-09-30 15:21] #10 closed

[2015-09-30 18:56] Tejpbit commented on #11
We have discussed new blackout curtains over all of the windows, nothing serious but we'll duscuss it further during our next meeting on monday.

[2015-10-01 11:19] Gorom opened #14 "Trashcan for HASen"

[2015-10-01 11:19] lindskogen commented on #14
Also for grupprummet

[2015-10-01 12:13] Kalior opened #15 "Days since issue screen"
Hubben needs a days since issue screen that shows the amount of days since an issue was last reported

[2015-10-01 12:27] Edholm commented on #15
Also, [accidents!](https://i.ytimg.com/vi/hfzbB_B3HS0/hqdefault.jpg)

[2015-10-01 14:32] lindskogen commented on #15
@Edholm exactly what I was thinking about!

[2015-10-03 21:44] Tejpbit commented on #2
Okay, we'll take an extra look at the microphones. But we hade karaoke tonight. C:

[2015-10-03 21:44] #2 closed

[2015-10-03 21:48] Tejpbit opened #16 "Check microphones to the karaoke. Throw away broken ones"
Scraping sound from black microphones. There could also be some broken cords.

[2015-10-04 17:26] Kalior opened #17 "Add power outlets from the ceiling to the table by the sofa in the studierum"
The current setup with a powerstrip from the wall is super annoying. A better solution is to have the hanging power outlets there as well.

[2015-10-04 21:55] Dr-Horv opened #18 "Fire extinguisher sign in wrong place"
Sign is behind the bar on the wall, extinguisher is around the corner.

[2015-10-10 13:47] Kalior opened #19 "Get a longer optical cable to the sound system"
The current cable seems to be too short to have it drawn along the ceiling. A new cable needs to be bought and then have it go along the ceiling.

[2015-10-11 14:44] #3 closed

[2015-10-12 10:11] Tejpbit commented on #19
We'll check the costs and if it's reasonable we'll buy a cable and let someone set it up during the next fix the Hubb day ("fixahubbendagen".)

[2015-10-12 10:14] Tejpbit commented on #15
Sounds like something digIT should implement on the info-screen

[2015-10-12 14:45] Kerp1 opened #20 "Hubben door doesn't close by itself"
Same fault as always

[2015-10-12 15:03] Edholm commented on #20
Also it won't let me in at all :-1:

[2015-10-12 15:10] Kalior opened #21 "Get another shelf for the coffee shelf shelf"
Should have another shelf for all the extra stuff that is on the shelf that the coffee machine is.

[2015-10-12 18:16] lindskogen commented on #21
10/10 issue

[2015-10-12 18:17] lindskogen commented on #20
@Tejpbit u fix? :bug:

[2015-10-12 19:18] Tejpbit commented on #20
Fixed

[2015-10-12 19:18] #20 closed

[2015-10-13 08:09] Kalior commented on #19
@Kerp1 estimated the length of the cable to have to be about 16 meters so maybe a 20 meter cable?

[2015-10-14 17:25] oed opened #22 "Klädhängare i den bakre toan"
Vad topic sa

[2015-10-15 19:28] SamuelHakansson opened #23 "Pen and tape to the kitchen"
Pen and tape to the kitchen would be nice to be able to label food, either as personal or free loot.

[2015-10-20 13:22] Kalior opened #24 "Larger garbage stations."
Especially a larger cardboard drawer in the garbage station in the kitchen. The current size does not even fit all of digITs pizzaboxes every Tuesday, this is a problem.

[2015-10-23 13:13] Kerp1 opened #25 "Cableduct to the 'bardatorn' corner"
I need about 4m of cableduct to the corner where bardatorn sits for the fixa hubben dagen.
It should be pretty big, about 30mm deep and 50mm wide.

[2015-10-23 13:14] Kerp1 commented on #19
Also if you're buying this, buy 4m Cableduct that can fit the cable for the wall next to the loudspeaker.

[2015-11-02 17:15] Gorom opened #26 "PowerPoint-dosa"
We should have one thingamajig that makes next slide appear during presentations so that one player doesn't have to be at the computer doing the clickz.

[2015-11-09 11:15] Tejpbit commented on #26
There exists better solutions. Wireless mouse or https://swipe.to.

[2015-11-09 11:15] #26 closed

[2015-11-10 15:39] Kalior opened #27 "Fairtrade and organic coffee and tea"
Fairtrade coffee and tea should really be a thing in Hubben.

[2015-11-16 11:29] Tejpbit commented on #27
Currently buying fairtrade when possible.

[2015-11-16 11:29] #27 closed

[2015-11-17 13:10] Oscmage opened #28 "Missing honey for tea"

[2015-11-20 15:45] Tejpbit commented on #28
P.R.I.T. doesn't buy honey

[2015-11-20 15:45] #28 closed

[2015-11-20 15:46] Tejpbit commented on #21
Fixed

[2015-11-20 15:46] #21 closed

[2015-11-24 19:12] Criticalstone opened #29 "One of the tables in grupprummet is almost split in half"

[2015-11-30 11:11] #19 closed

[2015-11-30 11:16] #25 closed

[2015-12-01 19:08] Kerp1 opened #30 "Whiteboard in the grouproom"
Since fixa hubben dagen it's impossible to get the whiteboard clean. I suggest you clean it with the recommended cleaning solution  and then buy new erasers.

[2015-12-01 19:30] Tejpbit commented on #30
Note to self can buy at http://www.clasohlson.com/se search for "whiteboard"

[2015-12-08 13:42] Kalior opened #31 "Remove bös from sofa in 'Studierummet'"
All the bös in the sofa in 'Studierummet' is a great disturbance and gets in the way of studying in the room. The bös should be removed.

[2015-12-08 13:44] lindskogen commented on #31
Actually, it's spelled "bôs"

[2015-12-18 15:09] #29 closed

[2015-12-18 15:09] Tejpbit commented on #29
Fixed new table

[2016-01-11 14:28] Fredokin opened #32 "Coffee-shelf might break soon"
Kolla på hyllan där kaffebryggaren står: den buktar ner på mitten, troligtvis pga fuktskada. Värt att hålla ett öga på / fixa

[2016-01-11 14:31] #31 closed

[2016-01-11 14:34] Tejpbit commented on #14
@lindskogen I'll add a new issue for trashcan in grupprummet. P.R.I.T. 16 will take it up on a meeting in the future.

[2016-01-11 14:34] #14 closed

[2016-01-11 14:35] Tejpbit commented on #16
None are broken. The sound quality just differ. Will keep all for now.

[2016-01-11 14:35] #16 closed

[2016-01-11 14:36] Tejpbit commented on #32
Japp, värt att köpa ny hylla och behandla den med någon fuktfrånstötande. Vilket också kommer göra den lättare att tvätta av från allt spillt kaffe.

[2016-01-11 14:37] Tejpbit commented on #23
We decided that it's not P.R.I.T.'s job to supply pen and tape for labelling food.

[2016-01-11 14:37] #23 closed

[2016-01-11 14:39] Tejpbit commented on #30
New whiteboard tools bought. We'll see how it do. Closing issue for now

[2016-01-11 14:39] #30 closed

[2016-01-11 14:41] Tejpbit commented on #22
Klädhängare upphittad. Bara att sätta upp. Ligger någonstans i Förråds-rum (F-rum)

[2016-01-14 16:45] Kerp1 opened #33 "Fluorescent Light in the Kitchen"
Both the fluorescent lights in the kitchen are broken.

[2016-01-14 17:53] oherik commented on #33
One of the lamps have now been replaced. The other one had a broken preheater (glimtändare), so we'll have to buy some new ones before putting in a new lamp. The light should be sufficient as for now, though.

[2016-01-14 17:53] #33 closed

[2016-01-15 16:46] Kalior opened #34 "Bubble in one of the tables in hubben"
The table to the right when looking away from the bar when at the bar to the right

[2016-01-17 19:03] oherik commented on #34
Bubble? Is it wobbly or is there some damage to the table itself? I'll have a look at it, but the tables have been rearranged during the weekend (ET-raj cleaning).

[2016-01-17 19:18] Kalior commented on #34
There seems to be some damage to the table, although I did not investigate
further.

On 20:03, Sun, Jan 17, 2016 Erik Öhrn <notifications@github.com> wrote:

[2016-01-27 18:01] Kerp1 opened #35 "Loose element in the hub"
The radiator next to the emergency exit in the main area of the hub is not attached to the wall very good.

[2016-01-27 22:30] oherik commented on #35
Roger that. I'll have a look at it, but it's probably a job for the
groundkeeper  or Akademiska hus. If that's the case, I'll see to it that
they're notified.
On Jan 27, 2016 19:01, "Mattias Nilsen" <notifications@github.com> wrote:

[2016-01-28 12:02] vidare commented on #17
This has become a more notably problem since we got new tables and increased the number of seats. The furthest places now lack power outlets in range for a typical charger.

[2016-01-28 12:05] vidare commented on #32
Vaxduk is the way to go.

[2016-01-28 12:28] vidare opened #36 "Clocks"
To my knowledge the only (working) clock is located in the kitchen. At least one in the Studierum should be useful, there may also be a need for a clock in different location in Hubben. An analogue clock is cheap so there should be no problem buying a couple.

[2016-01-29 09:18] oherik commented on #35
We have contacted the groundskeeper regarding this.

[2016-01-29 09:18] oherik commented on #34
Temporarily fixed using cardboard.

[2016-01-29 13:05] oherik commented on #36
Since clocks are allowed in Hubben as of 2007, I'll bring it up with the others.

[2016-01-29 14:34] oherik commented on #34
Permanently fixed

[2016-01-29 14:34] #34 closed

[2016-02-01 11:45] oherik commented on #36
We have decided that three clocks will be bought and installed: one in the main area, one in the study room and one in the group room.

[2016-02-01 14:33] lindskogen commented on #36
Feature suggestion: Radio controlled clocks!

[2016-02-01 18:41] lindskogen opened #37 "No coke in Hubben"
We want coke in Hubben!
We cannot code without coke!

[2016-02-03 08:08] Edholm commented on #37
@lindskogen [Is this your?](http://imgur.com/7lsKiWK)

[2016-02-09 17:48] lindskogen commented on #37
Vending machine is out again!

[2016-02-09 18:48] ClausX commented on #37
Right, i've tried calling the vending machine guy, but he didn't answer. Will contact him again.

[2016-02-10 16:02] ClausX commented on #37
I've talked with the guy and he should try more Coke next time. Issue closed.

[2016-02-10 16:02] #37 closed

[2016-02-10 16:14] Kerp1 opened #38 "Photo of Nollan in the study room"
There are several photos of Nollan missing from the wall in the studyroom, at least since 2013 but maybe some more.

[2016-02-16 08:33] Kalior opened #39 "The table furthest towards the windows is wobbly"
"There is probably a screw missing from under it's left leg as seen from the window." - @Tejpbit

[2016-02-17 11:47] Kalior opened #40 "The projector seems to be broken"
Did not start yesterday during digIT's aspiration. Perhaps the light bulb is broken?

[2016-02-17 12:14] oherik commented on #39
All right, I'll give it a shot tonight and see if I can fix it.

2016-02-16 9:33 GMT+01:00 Joel <notifications@github.com>:

[2016-02-17 18:11] oherik commented on #39
Fixed!

[2016-02-17 18:11] #39 closed

[2016-02-17 22:16] oherik commented on #40
Thanks for the heads-up, we'll look into it.

[2016-02-23 10:35] m0ar opened #41 "There is a large deficiency of extension cords in Grupprummet"
With the "island" type of furnishing its next-level difficult to get electricity to some of the tables.

[2016-02-23 19:30] Kalior opened #42 "The sound cable in the group room is broken"

[2016-02-24 08:09] lindskogen commented on #42
:(

[2016-02-25 11:19] bark commented on #42
+1

[2016-02-25 11:55] oherik commented on #42
The cable has been replaced with a temporary one until we have time to buy a new proper audio cable.

[2016-02-25 11:55] #42 closed

[2016-03-09 07:57] m0ar opened #43 "Rocky table in the group room"
The low table right by the door is really unstable. We have had an outside consultant temporarily fix it with a piece of folded up paper, but a more permanent solution is needed.

[2016-03-14 12:33] oherik commented on #43
Fixed!

[2016-03-14 12:33] #43 closed

[2016-03-15 15:36] oherik commented on #40
The projector lamp has now been replaced and everything is working again.

[2016-03-15 15:36] #40 closed

[2016-03-17 17:21] Tejpbit commented on #15
Issue added to tv-repository
https://github.com/cthit/tv/issues/6

[2016-03-17 17:21] #15 closed

[2016-03-17 18:17] Tejpbit commented on #6
No longer working on it. I am no longer P.R.I.T. :)
P.R.I.T.16 will have to discuss this.

[2016-03-22 16:50] hjorthjort opened #45 "Install Raspberry Pi in group room and connect with network cable"
DigIT/DidIT wants get rid of the audio cable in the group room and replace it with PlayIT for songs and playlist. To do this, they will need a Raspberry Pi installed in the group room, which must be connected with a network cable, and be connected to power. It should be next to the amplifier in Nilssons hörna.

[2016-03-22 20:53] oherik commented on #45
That's not a bad idea at all. Is your plan that someone will be able to
control Spotify on the Pi using their computer? And how do we ensure that
not multiple people, as well as people outside of the room, try to alter it
as well? Anyway, it sound pretty nice. Does digIT intend to help us with
funds and/or setup if we do this?
On Mar 22, 2016 17:50, "Rikard Hjort" <notifications@github.com> wrote:

[2016-03-22 20:56] hjorthjort commented on #45
DigIT has a Raspberry Pi and are working on installing it. It would use PlayIT, that selects songs and playlist based on upvotes and downvotes.

[2016-03-22 20:56] Dr-Horv commented on #45
Raspberry Pi 3 has Wifi which means it can be set up without network cable.

@oherik PlayIT is a playback/queue system which is based on reddit-like voting. So whenever a song finishes playing the next top-voted item is played from the list. Every user can vote up/down an item.

[2016-03-22 21:00] hjorthjort commented on #45
I don't think its a Raspberry Pi 3 we have. Otherwise all our cable work was for nothing.

[2016-03-22 21:02] oherik commented on #45
Interesting, I haven't heard of it before. The one problem I can see is
that a group of people somewhere else can manipulate it into to playing
something annoying non-stop. I don't know if that's solvable though, but it
might be worth considering.
On Mar 22, 2016 21:56, "Johan Andersson" <notifications@github.com> wrote:

[2016-03-22 21:05] Dr-Horv commented on #45
@oherik Yes, it is not perfect.

Today the system supports admins setting a limit on an items playback time (so you can prevent queueing of 10 hour versions) and the same item cannot be in the queue twice.

[2016-03-22 21:10] oherik commented on #45
It might be worth a try, anyway, to see how it works out. How far are you
in the process of installing the Pi?
On Mar 22, 2016 22:05, "Johan Andersson" <notifications@github.com> wrote:

[2016-03-22 22:28] Dr-Horv commented on #38
I talked with the President of CFFC. Should be no problem of finding the old photos in their achieve. So pop 'em a mail and they'll sort it out. @oherik

[2016-03-24 12:42] oherik commented on #45
Did digIT remove the audio cable from the amp and from its hole in the wall
recently, or was that someone else.
On Mar 22, 2016 22:10, "Erik Öhrn" <erik@erikohrn.com> wrote:

[2016-03-28 11:19] m0ar opened #46 "Left channel on audio cable is bork"
The amplifier only shows activity on the right channel, either the cable or the amp is broken.

[2016-03-31 14:17] oed commented on #46
Investigations by kruken has shown that it is the amp that is broken. Switching between different inputs on the amp yeilds the same results.

[2016-03-31 15:20] lindskogen commented on #46
:cry:

[2016-03-31 16:03] oherik commented on #46
Well... Anybody got a spare amp?
On Mar 31, 2016 17:20, "Johan Lindskogen" <notifications@github.com> wrote:

[2016-03-31 17:48] m0ar commented on #46
Actually, GasqueK might have a beastly Yamaha laying around. It drove parts
of the dance floor earlier so it should suffice for the group room.

On Thu, 31 Mar 2016, 18:04 Erik Öhrn, <notifications@github.com> wrote:

[2016-04-01 07:15] Edholm commented on #46
I've temporarily solved the problem by connecting both speakers to the right channel. Works fine!

[2016-04-01 07:33] oed commented on #46
That's not a solution, thats an ugly hack!

[2016-04-01 07:37] Edholm commented on #46
@oed hence the "temporarily" :+1:

[2016-04-03 15:38] oherik commented on #38
We're going to look into this when we get back from the break/re-exams!

2016-03-22 23:28 GMT+01:00 Johan Andersson <notifications@github.com>:

[2016-04-17 16:20] Dr-Horv opened #47 "Lamps above the Smurf is not working"

[2016-04-18 13:27] oherik commented on #47
Gotcha. We'll talk to the caretakers about it.

[2016-04-19 19:22] ClausX commented on #35
This has been fixed

[2016-04-19 19:22] #35 closed

[2016-04-19 19:26] ClausX commented on #41
A ceiling mounted power strip has been installed by the electrician

[2016-04-19 19:26] #41 closed

[2016-04-19 19:27] ClausX commented on #17
fixed

[2016-04-19 19:27] #17 closed

[2016-04-22 09:37] Dr-Horv opened #48 "Name of the beverage refrigerator"
While a new refrigerator may warren a new name, I personally am not fond of the new name. The old "Ligga?" felt to be in student spirit and with good associations. This new "TVÅAN" especially with the added "Smaken är som baken" has, at least for me, very mixed associations and feelings.

If I'm alone with not liking the new name it isn't that big of a deal. I don't demand a change but I've heard

[2016-04-22 10:08] NeonNeon commented on #48
I do not like the new name either, maybe P.R.I.T. can have some sort of competition and let members of the IT division submit suggestions of names. At least I believe it should be changed before the new nollan arrives this september.
+1

[2016-04-22 10:11] oherik commented on #48
Honestly, we in P.R.I.T. didn't choose the name, nor did we make the sign.
Our original name was Ligga mer?, but the sign was replaced by a group of
students. We'll look into maybe changing the name.
On Apr 22, 2016 11:37, "Johan Andersson" <notifications@github.com> wrote:

[2016-04-22 10:41] Dr-Horv commented on #38
@oherik How's it going?

[2016-04-22 10:43] ClausX commented on #38
We have ordered the missing photos, waiting for the to arrive

[2016-04-22 11:05] Solisol commented on #48
Why not have something a bit more related such as "Öl är gott" in some fancy font?

[2016-04-22 11:24] abjugard commented on #48
I agree, "Ligga mer?" was much better. The current name is not especially funny in my opinion.

[2016-04-22 11:26] Edholm commented on #48
Since the last fridge was smaller and thus any beverages would have to "ligga" to fit, the new fridge should be named "Stå" since it is larger!

[2016-04-22 11:41] oed commented on #48
We could just name it "kyl" since that is the most accurate description of its function.

[2016-04-22 11:58] Rawa commented on #48
I'm gonna say something insane. How about just sticking with the old name "Ligga?", just because the refrigerator have been replaced doesn't mean we have to give it a new name, right? As Horv mentioned the name "Ligga?" felt to be in student spirit and with good associations.

[2016-04-22 11:59] Dr-Horv commented on #48
I for one liked the PRIT spin on it with adding "MER" to it. So it was "Ligga MER" with corresponding art.

[2016-04-22 12:54] Hultner commented on #36
I for one support the olden ways where clocks were strictly forbidden in the Hub and don't think PRIT should encourage the use of such a controversial piece of equipment.

[2016-05-06 11:58] Dr-Horv opened #49 "Fluorescent light in the group room is broken"
The one above the new electrical outlet

[2016-05-17 15:53] abjugard opened #50 "Pizza box recycling container"
The addition of a pizza box recycling container to Hubben would be very useful. A lot of students eat pizza in Hubben and, besides the positive environmental aspect of recycling the boxes, the rubbish bins fill up quite quickly when you stuff a couple of pizza boxes in them.

I'm thinking of something similar to the single use grill recycling that is used in, for example, Slottskogen.

[2016-05-23 10:35] oherik commented on #50
We've discussed this during today's meeting. We feel that, while it would
be nice to have a dedicated pizza container, that it would bee to much of a
hassle making sure that it is emptied regularly. However, we've asked
Akademiska Hus to provide larger bins for cardboard, so hopefully that will
take care of most of the issue.

2016-05-17 17:53 GMT+02:00 Adrian Bjugård <notifications@github.com>:

[2016-05-27 11:23] lindskogen opened #51 "Group room window is dirty"

[2016-05-27 12:59] kirayatail commented on #51
Uninstall windows and run something unix-like

[2016-05-29 10:46] abjugard opened #52 "Group room window creaks"
The (IRL facing) window in the group room creaks when it is opened or closed, hinges need some WD-40.

[2016-05-30 09:13] oherik commented on #51
We'll clean them during "Fixa-Hubben-Dagen" next week.

2016-05-27 14:59 GMT+02:00 Max W <notifications@github.com>:

[2016-05-30 10:04] oherik commented on #52
Roger that, we'll fix it during "Fixa-Hubben-Dagen" next week

2016-05-29 12:46 GMT+02:00 Adrian Bjugård <notifications@github.com>:

[2016-06-09 07:30] oherik commented on #32
Ny hylla inköpt, vaxduk fastspikad på den. Hyllan uppsatt.

[2016-06-09 07:30] #32 closed

[2016-06-09 12:17] ClausX commented on #51
Is clean

[2016-06-09 12:17] #51 closed

[2016-06-09 13:49] oherik commented on #36
Clocks have been put up on the walls of the main room, the study room and the group room.

[2016-06-09 13:49] #36 closed

[2016-06-10 04:42] #50 closed

[2016-06-10 04:45] oherik commented on #5
The chairs and tables in the group room have been replaced (thanks @Dr-Horv and @lindskogen). Some in the study room and HASen have also been replaced.

[2016-06-10 04:45] #5 closed

[2016-06-10 04:46] oherik commented on #24
We've contacted Akademiska Hus regarding this, and are waiting for their reply.

[2016-07-28 06:12] oherik commented on #52
Fixed with some WD-40.

[2016-07-28 06:12] #52 closed

[2016-09-06 07:27] Kalior opened #53 "Marker pen and knife hanging from the fridge"
Wouldn't it be great if, as well as having a knife hanging from the fridge:
![img_20160906_091438](https://cloud.githubusercontent.com/assets/2412457/18264999/bebd98c6-7413-11e6-9295-7de3354c563e.jpg)
we had a marker pen there. Would be great for writing your name on the food.

[2016-09-06 08:04] lindskogen commented on #53
The knife is for opening the fridge

[2016-09-06 08:04] Dr-Horv commented on #53
Why not both?

[2016-09-06 08:07] Kalior commented on #53
Sure, both then. Wasn't aware the knife had a purpose

[2016-09-12 10:10] oherik commented on #53
Unfortunately we strongly believe that a pen would be stolen within microseconds. We advise you to bring your own pens or mark your food beforehand.

[2016-09-12 10:10] #53 closed, assigned to nobody

[2016-09-16 17:34] vidare opened #54 "Air outlet for the small refrigerators behind the bar"
If the bench above the refrigerator is pushed against the wall no hot air can escape and the cooling becomes minimal. An easy solution to prevent this from happening wold be to put some wooden blocks or a long board behind the legs of the bench against the wall.

[2016-09-17 16:36] oherik commented on #54
We do have some spare wood we probably could use for this purpose. I'll look into it the coming week.

[2016-09-19 11:33] oherik commented on #54
Fixed using a couple of 45x45mm beams.

[2016-09-19 11:33] #54 closed, assigned to oherik

[2016-09-20 16:34] Dr-Horv opened #55 "Power splitter for the two tables closest to the projector"
The placement of the power outlets for the two tables closest to the projector are a bit awkwardly placed. A suggestion is to place power splitter-cables from the outlets along the wall up on the speaker boxes, easier available for the people and doesn't need to cross the couches.

[2016-09-22 11:16] vidare opened #56 "Additional knife magnet in kitchen"
Since the trial period for the knife magnet is conclude successfully I propose we buy an additional one. The only problem now is that there are too many knives and only a single magnet. This would also prevent some blunting due to overstacking of the magnet.

[2016-09-26 10:11] oherik commented on #56
We will see if there's enough space for an additional one, and if there is, if we can acquire a new magnet.

[2016-09-26 10:13] oherik commented on #55
Nice idea. We'll try to get some money for additional power-spliters.

[2016-10-01 09:09] Xiaoming94 opened #57 "The "Studierummet" smells"
Do something about the smell of Studierummet. It reaks of Human sweat in an unpleasant way.

[2016-10-03 10:06] oherik commented on #57
We don't really know what smell you're referring to.

[2016-10-03 11:19] oed commented on #22
bump

[2016-10-06 16:00] oherik commented on #22
Fixed

[2016-10-06 16:00] #22 closed

[2016-10-12 07:37] hjorthjort commented on #57
Can't feel it

[2016-10-12 07:41] hjorthjort opened #58 "Window fittings for air intake to Studierummet"
Buy one of [these](http://www.clasohlson.com/se/V%C3%A4dringsbeslag/21-2439) and mount on the window in studierummet. The problem of letting air in without the window swinging open, shutting, or hitting someone in the face is persistent. #thestruggleisreal

[2016-10-12 10:05] #57 closed, assigned to nobody

[2016-10-12 10:06] oherik commented on #58
We spoke to the caretaker regarding this a while ago, and he said he would fix it. We'll remind him.

[2016-10-12 13:46] oherik opened #59 "The shelf for the stapler will probably break soon"
I'll try to fix some kind of support for it in the foreseeable future.

[2016-10-20 10:02] SSundstrom opened #60 "Wasted coffee"

[2016-10-20 10:04] oherik commented on #60
Wasted coffee is always an issue, but I'm not sure I understand what this issue in particular refers to.

[2016-10-20 10:05] SSundstrom commented on #60
the last cup rule doesn't actually solve the problem with no one making new coffee but rather makes the person who eventually makes new coffee throw away the last cup because it's cold. This kind of goes against our environmental policy and should be changed. My proposal is that we just say don't be a Douche but not give someone shit for doing it.

[2016-10-20 10:06] ClausX commented on #24
Akademiska Hus doesn't seem to be interested in changing the garbage stations.

[2016-10-20 10:06] #24 closed

[2016-10-24 10:06] oherik commented on #60
We'll remove the marking and see if that solves the problem.

[2016-11-08 11:01] oherik commented on #59
Fixed!

[2016-11-08 11:01] #59 closed, assigned to oherik

[2016-12-08 17:50] Tejpbit opened #61 "Put up a sign on the door out of Hubben reminding people to close the windows."
"Är du bland de sista i hubben? Glöm inte att stänga fönstren!" Eller nått sånt. Och någon fin bild på ett fönster, jag föreslår:

![image](https://cloud.githubusercontent.com/assets/6124487/21021038/30c1f4d8-bd77-11e6-85d1-ff5b3343484c.png)

[2016-12-08 17:54] ClausX commented on #61
juppjupp!

[2016-12-21 16:03] #61 closed, assigned to nobody

[2017-01-16 07:55] vidare opened #62 "Projcetor external HDMI not working"
The external HDMI cable does not give any signal from/to the projector.

[2017-01-16 08:05] vidare opened #63 "Projector external HDMI cable to short"
The external HDMI cable for the projector is about 1m to short to be able to connect to a computer located behind the bar counter. Since the new shelves above the bar counter was built the old cable laying is not sufficient anymore, especially for a computer with HDMI port on the far off side. It is possible to connect a computer (regardless of port placement) if it is placed on top of the bar cou

[2017-01-16 13:40] JonatanGust commented on #63
Good find, work is in progress!

[2017-01-16 13:43] JonatanGust commented on #62
The cable was not properly connected to the projector.

[2017-01-16 13:43] #62 closed, assigned to JonatanGust

[2017-01-16 15:15] JonatanGust commented on #11
The new blinds installed by P.R.I.T. 16 fixes this problem.

[2017-01-16 15:15] #11 closed

[2017-01-16 15:16] JonatanGust commented on #48
Name has been "Ligga MER" for atleast half a year now, it seems this name is good enough.

[2017-01-16 15:16] #48 closed

[2017-01-16 15:17] JonatanGust commented on #18
Sign is now over the extinguisher, perhaps it should be higher up?

[2017-01-16 15:17] #18 closed

[2017-01-16 15:19] JonatanGust commented on #47
Lights seem to work for now.

[2017-01-16 15:19] #47 closed

[2017-01-16 20:17] JonatanGust commented on #49
Note taken, another 3 has been spotted, good find!

[2017-01-31 18:17] Holmus opened #64 "Chairs are overflowing in Grupprummet"
Could we please get rid of all the #¤%#¤ing extra chairs in grupprummet?

It is impossible to utilize them all at the same time and they end up being obstacles to anyone trying to transport themselves within the room.

[2017-02-02 09:35] Kalior commented on #64
Possibly by getting rid of the broken/uncomfortable ones?

[2017-02-02 09:42] Kalior opened #65 "Better tea in Hubben"
I realise this might not be possible, economy wise, and buy-in wise. But wouldn't it be tremendous if we replaced the boring tea-bags in Hubben with loose leaf tea and [these](http://www.tecentralen.se/tepasar-att-fylla-sjalv.html) kinds of bags. Just my two-cents.

[2017-02-09 13:07] JonatanGust commented on #65
P.R.I.T. will look into it. Loose tea is generally much cheaper, but it might also deteriorate faster due to people handling it wrong. However, those type of bags are usually pretty expensive.

[2017-02-23 12:18] felixjansson opened #66 "liquid determination"
Hubben needs a new liquid determination carrier though the old one has disappeared?  👽

[2017-02-23 22:21] #65 closed, assigned to nobody

[2017-02-23 22:22] Yeetii commented on #65
We tried out loose tea and it worked out so we'll be getting more of it. Thank you for the idea!

[2017-02-23 22:28] Kalior commented on #65
You guys are the best! #bestP.R.I.T.confirmed :1st_place_medal: :smiley:

[2017-02-23 22:34] JonatanGust commented on #66
We will look into it

[2017-03-07 12:09] SSundstrom commented on #66
[Dunk](https://www.bauhaus.se/vattendunk-25-l.html)
Med
[Tap 10mm](https://www.bauhaus.se/hane-10mm.html)
Eller
[Tap 20mm](https://www.bauhaus.se/hane-20mm.html)
Lös 🔨

[2017-03-07 17:11] Yeetii commented on #63
Solved by Lumo

[2017-03-07 17:11] #63 closed, assigned to JonatanGust

[2017-04-10 13:13] hedmanw opened #67 "Dörrjäveln gnisslar"
The dörrjävel to the grupprum is the gnissel.
Please use some rapsolja asap.

(The SAMO has also started gnisseling, but perhaps that is an unrelated issue.)

[2017-04-10 13:14] Xiaoming94 commented on #67
@BalooCTH  Can you have a look at this? I believe this is a P.R.I.T. business 😄

[2017-04-11 12:46] abjugard commented on #67
@Xiaoming94 And this repo is for P.R.I.T. so that makes sense.

[2017-04-22 21:14] m0ar opened #68 "Discrepancies in the karaoke database"
The objectively fantastic song by ABBA, Knowing Me Knowing You, has since long been present in the karaoke song list but NOT in the system.

This has caused great pain and suffering during the pub crawls and should be a prioritized issue. Wubalubadubdub :(

[2017-04-25 18:21] fantomsol commented on #64
I moved out a few chairs about one or two months ago. It is still quite cramped but better I think?

[2017-04-25 18:22] fantomsol commented on #6
New ladder is bought. It is amazing :)

[2017-04-25 18:29] fantomsol commented on #55
This is solved now, the power cables in place are borrowed from digIT :)

[2017-04-25 18:33] #6 closed

[2017-04-25 18:34] #55 closed, assigned to Oweeee

[2017-04-25 18:34] #64 closed, assigned to nobody

[2017-05-09 14:13] anembac commented on #38
This was fixed on the last "Fixa-Hubben-Dagen".

[2017-05-09 14:13] #38 closed

[2017-05-19 08:21] m0ar opened #69 "Broken door handle"
The door handle for the _hidden toilet_ is kinda broken, it's sometimes hard to get the door open. Replacement or at least some smörj is needed.

[2017-09-27 07:36] oherik opened #70 "Motion sensors"
There are quite a few times the lights are left on in Hubben, leading to environmental issues as well as potential unwanted visitors. How about installing motion sensors for the lights, as seen in for example some places (e.g. High) at Lindholmen?

[2017-09-27 17:00] oherik opened #71 "The table of the studierum"
The white, small one. Is broke. Thanks <3

[2017-09-27 17:01] oherik opened #72 "The studierummet door is noisy when closing"
How about some kind of ljuddämpning, such as attaching möbeltassar to the ram?

[2017-10-10 13:41] lindskogen commented on #71
The borken table is now in the hubb, pls fix

[2017-10-18 15:54] PeterGardenas opened #73 "Tv-screen running after school"
The new tv screen is on around the clock but it is barley used after school, would it be possible to automatically put the display to sleep after school hour or maybe when no users are active on HubbIT?

The environment would thank you 😃

[2017-11-21 17:28] oherik opened #74 "The hanging outlet hub in the North-Eastern corner of Studierummet is not working properly"
The power is irregurarly supplied, e.g. a minute on, 5 seconds off. It seems to be cyclical. The issue is probably a job for the caretaker of EDIT.

[2018-03-08 16:57] anembac opened #75 "P.R.I.T. 18 doesn't seem to be looking at these issues."
It will be hard to solve issues they are not aware of.

[2018-03-08 16:58] jerge commented on #75
:(

[2018-03-08 17:03] Kaffe-work opened #76 "The door into the hub makes a noise sometimes."
The door into the main part of the hubb doesn't always close properly, making the door alarm beep.

[2018-03-08 23:28] Xiaoming94 commented on #76
I can confirm this

[2018-04-07 10:07] vidare opened #77 "Fire extinguisher sign (kitchen)"
The sign for the fire extinguisher outside the kitchen is still not correctly placed. Compare with the one in the hallway. The extinguisher moved to where it is now (opposite the cleaning cupboard) in 2013 but the sign remained.

[2018-04-09 10:39] AlexanderSelmanovic commented on #74
The caretakers have been notified about this problem

[2018-04-09 10:52] Portals commented on #75
Can confirm P.R.I.T. are here :+1:

[2018-04-09 10:52] #75 closed, assigned to nobody

[2018-06-09 21:19] vidare opened #78 "Hubben no battery in clock"

[2018-06-10 01:00] vidare opened #79 "Disco lights remote - Missing battery hatch"
The battery hatch for the disco-light remote is missing. This has resulted in the battery falling out and made the lights completely inoperable. A substitute for the hatch has to be created before any new battery is installed. Note that the battery is of a somewhat odd type.

[2018-06-10 01:34] vidare opened #80 "Broken/damaged power oultlets"
Some of the power outlets in Hubben are mechanically broken/damaged, these should be located and reported to Akademiska Hus. Try to find a proper way to prevent the use of the broken ones before they can be fixed (a couple strips of book tape seems sketchy...).

It would also be a good to check that ground is actually working for all outlets.

[2018-07-13 14:26] vidare opened #81 "Missing taggin of kitchen drawers"
The previously tags: FORKS, KNIVES, SPOONS, etc. are now missing from the kitchen drawers. This will result in disaster regarding the cutlery not finding it's way into any drawers. If it's easy to keep the kitchen tidy it will tend to be less messy.

[2018-07-13 14:31] ghost commented on #81
Perfect issue for the städnollan to attend to 💪

[2018-07-13 15:10] vidare opened #82 "Studierum - New furniture arrangment"
The new furnishing, or rather the rearrangement of the existing one is leaving much to be desired. Hopefully this is only a remnant from when the floor was waxed. Although appearing more "roomy" the actual space for sitting has been reduced and proven impractical for persons of above average length.

There is a reason for the old arrangement, it works and is the most efficient given the size of th

[2018-07-13 15:14] vidare opened #83 "Studierum - Placement of hanging electric outlets"
Some of the electric outlets hanging from the ceiling should be better positioned so that they are above the middle of the tables. Its undesirable to have them above the rows of chairs.

[2018-07-13 15:28] vidare opened #84 "Grupprum - Placement of hanging electric outlet"
The single hanging electric outlet should be relocated to the square table in the middle of the Grupprum. Now it hangs where an old table was, and would be much more useful 2m to the side. Or if the outlet (and odd table) actually is used, install another one above the table that is dominantly used. The solution now seems like an temporary one and a cable on the floor is a tripping hazard.

[2018-07-13 15:32] vidare opened #85 "Grupprum - Broken table leg"
Some of the legs of the tables in the gruppummet are loose/broken. They should be repaired or replaced.

[2018-07-13 15:49] vidare commented on #81
What I know there is no städnolla nor could this fall under their responsibility.

[2018-07-20 14:31] Xiaoming94 commented on #82
A better solution: get Rid of Cetac and break that wall for a single big study room 😁

[2018-07-20 18:47] vidare commented on #82
That would be a long term target and a different issue altogether. As of now, reverting to the previously furniture configuration would restore the lost seats.

[2018-08-26 16:04] vidare opened #86 "Karaoke mics missing labels"
The mics used during Pubbrundan are missing the labels "RED" and "BLUE" respectively. Most stylish would be a bit of paper with the text and corresponding background color taped on with transparent tape. This would allow for easier identifying of the mics when dimly lit and also help us colorblind.

[2018-08-26 16:05] vidare opened #87 "Hubben - Stereos always on"
As to my knowledge the big stereos are always on. This is bothersome since they sometimes make a humming noise. Depending on the setup they may also consume a considerable amount of power even when not used. An easy solution would be either a simple hardwired power button or a wireless one given it can supply the necessary wattage.

[2018-08-26 16:09] vidare opened #88 "P.R.I.T. 18 doesn't seem to be looking at these issues."
Please reopen issue #75

[2018-08-26 16:12] ghost commented on #87
The DAC does not turn itself back on automatically after a power outage so this is not possible to solve with the current setup.

[2018-09-22 19:29] vidare opened #89 "Kitchen - Celing flourescent tube broken"
One of the two florescent tubes in the kitchen ceiling are broken. Usually both die at about the same time and without any the kitchen will be mostly dark.

[2018-09-24 08:12] #88 closed, assigned to nobody

[2018-09-24 08:13] #76 closed, assigned to nobody

[2018-11-24 19:26] Vilddjur opened #90 "One more sprit song before the kaffe"
@Gurr1 @ErikLP @digit

[2018-11-24 19:28] Vilddjur commented on #90
Closed @holmus

[2018-11-24 19:28] #90 closed, assigned to nobody

[2018-11-24 19:55] Criticalstone commented on #90
🔥🔥🔥🔥🔥

[2019-06-18 15:44] #82 closed, assigned to nobody

[2019-06-18 15:47] #78 closed, assigned to nobody

[2019-06-18 15:55] #71 closed, assigned to nobody

[2019-06-18 15:56] #69 closed, assigned to nobody

[2019-06-18 16:15] #67 closed, assigned to nobody

[2019-06-18 16:18] #66 closed, assigned to nobody

[2019-06-18 16:22] #58 closed, assigned to nobody

[2019-06-18 16:41] #72 closed, assigned to nobody

[2019-06-30 21:37] ericlp commented on #89
This has now been solved.

[2019-06-30 21:37] #89 closed, assigned to nobody

[2019-06-30 21:39] ericlp commented on #81
This seems to be solved.

[2019-06-30 21:39] #81 closed, assigned to nobody

[2019-06-30 21:40] ericlp commented on #56
An additional magnet has now been added to the kitchen.

[2019-06-30 21:40] #56 closed, assigned to nobody

[2019-06-30 21:41] ericlp commented on #49
All broken lights in hubben has now been resolved, these included.

[2019-06-30 21:41] #49 closed

[2020-04-06 20:58] ghost commented on #46
The amp was replaced some time back :)

[2020-04-06 20:58] #46 closed

[2020-06-14 21:01] steget commented on #77
We've moved the sign to above the doorframe.

[2020-06-14 21:01] #77 closed, assigned to steget